@tailwind base;
@tailwind components;
@tailwind utilities;


.main{
  height: 100vh;
  width: 100vw;
}

.bg-white-background{
  background-color: rgba(255, 255, 0, 1);
  color: red;
}

.cta-background:hover{
  background-color: rgba(0, 0, 0, 0.2);
}

.instagram:hover{
  fill:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.sideBar{
  position: absolute;
  height: 100vh;
  top: 0px;
  right: 0px;
}

.swiper-container{
  height: calc(100Vh - 66px) ;
}
@media (max-width:640px),screen and (orientation: portrait) {
}

.fit-image-height img{
    height: 100%;
    width: 100%;
    object-fit: cover; 
  }
.swiper-container{
  --swiper-theme-color : #AB9F04;
  --swiper-pagination-bullet-inactive-color: white;
  --swiper-pagination-bullet-inactive-opacity: 0.6;
}
.child-nomargin button{
 margin-right: 0px;
}

.topOutside{
  top:-100%;
}