@tailwind base;
@tailwind components;
@tailwind utilities;


html,body{
  padding: 0px;
  margin: 0px;
  user-select: none;
  scroll-behavior: smooth !important;
}
@media only screen and (min-width:768px) {
  .navbar {
    height: 72px;
  }
  .swiper-container-promotion .swiper-button-prev {
    left: var(--swiper-navigation-sides-offset,25%);
  }
  .swiper-container-promotion .swiper-button-next {
    right: var(--swiper-navigation-sides-offset,25%);
  }
}

:root{
  --gold-color : #AB9F04 
}
.promotion-hr{
  background-color: var(--gold-color);
  height: 2px;
  border: 0;
}

.main{
  height: 100vh;
  width: 100vw;
}

.bg-white-background{
  background-color: rgba(255, 255, 0, 1);
  color: red;
  
}

.cta-background:hover{
  background-color: rgba(0, 0, 0, 0.2);
}

.instagram:hover{
  fill:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.sideBar{
  position: absolute;
  height: 100vh;
  top: 0px;
  right: 0px;
}

.swiper-container{
  height: calc(100Vh - 90px) ;
}
@media (max-width:640px),screen and (orientation: portrait) {
}

.fit-image-height img{
    height: 100%;
    width: 100%;
    object-fit: cover; 
  }
.swiper-container{
  --swiper-theme-color : #AB9F04;
  --swiper-pagination-bullet-inactive-color: white;
  --swiper-pagination-bullet-inactive-opacity: 0.6;
}
.child-nomargin button{
 margin-right: 0px;
}

.topOutside{
  top:-100%;
}

.swiper-container-promotion {
  --swiper-navigation-color:var(--gold-color);
  --swiper-navigation-size:32px;
}

/* .full-width{
  width: 100%;
} */

.prices-separator{
  border-color: #AB9F04;
  border-radius: 0px;
  height: 5px;
}

.title-main{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.title-main h1{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  animation-name: fade-in;
  animation-duration: 500ms;
}
